task run {
  description "Runs the application"

  cmd "go run ./cmd/ror"
}

task build {
  description "Compiles the application"

  cmd "go build -o ./out/ror ./cmd/ror"
}

task install {
  description "Installs the in ~/.local/bin"
  depends {
    on "build"
  }

  cmd "cp ./out/ror ~/.local/bin/ror"
}
