task run {
  description "Runs the application"

  cmd "go run ./cmd/ror"
}

task build {
  description "Compiles the application"

  cmd #"go build -o out/ror %%flags%% ./cmd/ror"# {
    where flags=#"-ldflags="-X '%%env-pkg%%.commit=%%commit%%' -X '%%env-pkg%%.time=%%time%%'""# {
      where env-pkg="github.com/dector/ror/internal/env"

      where commit="git describe --tags --always --long --dirty" { execute }
      where time="date +%Y-%m-%dT%H:%M:%SZ" { execute }
    }
  }
}

task install {
  description "Installs the in ~/.local/bin"
  depends {
    on "build"
  }

  cmd "cp ./out/ror ~/.local/bin/ror"
}

task go {
  description "Run Go directly"

  cmd "go"
}

task test:env {
  description "Setup env for tasks"

  env GREET="Hello"
  env NAME="User"

  cmd "echo $GREET $NAME"
}

task echo {
  description "Echoes all arguments"

  cmd "echo"
}
