task run {
  description "Runs the application"

  cmd "go run ./cmd/ror"
}

task build {
  description "Compiles the application"

  cmd #"go build -o out/ror -ldflags="-X 'github.com/dector/ror/internal/env.commit=$(git describe --tags --always --long --dirty)' -X 'github.com/dector/ror/internal/env.time=$(date +%Y-%m-%dT%H:%M:%SZ)'" ./cmd/ror"#
}

task install {
  description "Installs the in ~/.local/bin"
  depends {
    on "build"
  }

  cmd "cp ./out/ror ~/.local/bin/ror"
}

task go {
  description "Run Go directly"

  cmd "go"
}

task echo {
  description "Echoes all arguments"

  cmd "echo"
}
